*{color:#484848;;font-family:"Inter"}h2{font-weight:600;font-size:50px;text-align:center;margin:0;margin-bottom: 40px;}section{padding-bottom:100px;padding-top: 70px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}header{background:#FFFFFF;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header nav.header__nav{margin:0 auto}header ul li.menu__item{display:inline-block;padding:10px 25px 0}header header ul{height:70px;margin:0;padding:24px 25px 0}.button_start{display:inline-block;width:150px;height:35px;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5; }
a:hover {
    color: #2d4a1a;
}
header {
	z-index: 20;
	background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__menu {
    display: flex;
	position: relative;
    align-items: center;
    padding: 0;
	z-index: 2;
}
header{position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header ul li{display:inline-block}header nav{margin-right:20%}header ul{height:70px;margin:0;line-height: 17px;}
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} 
}}
@media(max-width: 767px){
.header_wrapper{
    height: 80px;
}
.header__nav {
	display: block;
	position: absolute;
    top: 55px;
    left: 0;
    background: rgb(255, 255, 255);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
	left:-100%;
}
.header__menu {
	display: block;
    height: auto;
}
.header__nav.open-menu{
    left:0;
}
.header__menu li.menu__item {
    width: 100%;
    text-align: center;
	margin: 10px auto;
    padding: 0;
    font-size: 14px
	}

.menu-burger__header {
	position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
   }
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #515758;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

header {
	height: 60px;
}
.content-wrapper {
    margin-top: 48px;
}
.fixed-pade {
    overflow: hidden;
}

}
.news{padding-bottom:100px;padding-top:100px}.news .news_wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.news .news_wrapper a{margin:0 auto;max-width:319px;min-width:250px;margin-bottom:40px;font-weight:400;font-size: 18px;line-height: 20px;}.news img{margin-bottom:20px;width:100%;overflow:hidden}
.link{
    display: block;
    margin-top: 60px;
    display: block;
    margin: 0 auto;
    width: 8px;
    margin-top: 40px;
    font-size: 16px;
    }
    .header_path, .header_link{
        font-size: 12px;
    }
    .header_path{
        padding-bottom: 40px;
    }
section .img_3{
    margin-top: 40px;
    float: right;
    width: 223px;
    height: 139px;
}
footer{
    background-color: #484848;
    min-height: 293px;
}
.footer_icon{
    margin: 0 auto;
    padding-right: 130px;
    display: inline-block;
    max-width: 306px;
    text-align: center;
}
.footer_icon img{margin-top: 20px;}
footer .footer_icon img.footer_icon_logo{
    margin-top: 0;
}
.footer_part{color:#FFFFFF;font-size: 14px;}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 293px;
}

footer ul{
    list-style-type: none;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
footer span a{
    font-weight: 700;
}
@media(max-width: 767px){
.element,header nav, header .button_start, .header_path{
    display: none;
}
.footer_part, footer nav{
    display: none;
}
.footer_icon{padding: 0;padding-right: 0;
margin: 0 auto;
width: 176px;}
}