*{color:#484848;;font-family:"Inter"}h2{font-weight:600;font-size:50px;text-align:center;margin:0}section{padding-bottom:100px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}header{background:#FFFFFF;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header nav{margin:0 auto}header ul li{display:inline-block;padding:24px 25px 0}header header ul{height:70px;margin:0}.button_start{display:inline-block;width:150px;height:35px;margin:0 auto;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5}

a:hover {
    color: #2d4a1a;
}
.first_bg .container{
    padding-top: 74px;
}
.first_bg {
    padding-bottom: 60px;
}
.first_bg .container .first_wrapper{
    padding-top: 219px;
    background: url("../img/article/1_bg.jpg");
    background-repeat: no-repeat;
    padding-bottom: 204px;
}

.first_bg h2{
    margin: 0 auto;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.second_article{padding-bottom:300px;}

.second_img{margin-top:56px;}

.header_path{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    margin-bottom: 62px;
}

.first_text{
    max-width: 671px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
    min-height: 174px;
}

.first_img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 65px;
    max-width: 100%;
}

.first_wrapper_img{
    max-width: 671px;
    margin:0 auto;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_img{
    max-width: 251px;
}

.wrapper_buttons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin-top: 60px;
    margin-bottom: 100px;
}

button a{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #484848;
    text-decoration: none;
}

button{
    margin: 0;
    border: 0;
}

.wrapper_articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article_element{
    max-width: 319px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.first_img{
    text-align: center;
    max-width: 100%;
    overflow: hidden;
}

.first_link{
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
    width: 100%;
    text-decoration: none;
}

.logo{
    float: right;
    margin-top: 65px;
    padding-bottom: 81px;
}

footer{
    background-color: #484848;
    min-height: 293px;
}
.footer_icon{
    display: inline-block;
    max-width: 176px;
    text-align: center;
}
.footer_icon img{margin-top: 20px;}
.footer_part{color:#FFFFFF;font-size: 14px;}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 293px;
}

footer ul{
    list-style-type: none;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}footer span a{
    font-weight: 700;
}
@media(max-width: 767px){
    header nav, header .button_start{
        display: none;
    }
    .first_bg h2{
        font-size: 30px;
    }
    }