*{color:#484848;font-family:"Inter"}h2{font-family: 'Neucha';font-weight:400;font-size:64px;text-align:center;margin:0}section{padding-bottom:80px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}a:hover{color:#2d4a1a}header{background:#fff;display:flex;align-items:center;position:fixed;width:100%;top: 0;}.header_nav{margin:0 auto}.header_menu{display:flex;align-items:center;padding:0;margin:0}.header_menu li{display:inline-block;padding:10px 25px 0}.header_wrapper{display:flex;justify-content:space-between;align-items:center}.button_start{width:180px;height:30px;background:#00B40A;font-weight:700;font-size:11px;border:0;text-align:center;color:#f5f5f5;border-radius: 5px;}.header_path,.header_path a{font-family:'Inter';font-weight:400;font-size:12px;color:#484848}.header_path{padding-bottom:40px}footer{background-color:#000}.footer_icon{margin:0 auto;padding-right:130px;width:200px;display: flex;justify-content: center;flex-wrap: wrap;}.footer_icon img{margin-top:20px}img.footer_icon_logo{margin-top:0}.footer_part{color:#fff;font-size:14px}.footer_wrapper{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;height:293px}footer ul{list-style-type:none; font-weight: 700;}footer a{color:#FFFFFF;line-height: 20px;}footer span a{font-weight:700}
@media screen and (max-width:1280px){div.contentblock {width:1200px;}}
@media screen and (max-width:1140px){div.contentblock {width:1024px;}}
@media screen and (max-width:992px){div.contentblock {width:970px;}}
@media(max-width: 767px){header{height:60px}.header_nav{display:block;position:absolute;top:55px;background:rgb(255,255,255);width:100%;transition:all 0.4s ease;left:-100%}.header_nav.open-menu{left:0}.header_menu{display:block;height:auto}.header_menu li{width:100%;text-align:center;margin:10px 0;padding:0}.menu-burger__header{position:relative;width:40px;height:35px;display:block}.menu-burger__header span,.menu-burger__header:after,.menu-burger__header:before{height:3px;width:100%;position:absolute;background:#484848}.menu-burger__header span{top:16px}.menu-burger__header:after,.menu-burger__header:before{content:''}.menu-burger__header:after{bottom:5px}.menu-burger__header:before{top:5px}.menu-burger__header.open-menu span{opacity:0;transition:0.5s}.menu-burger__header.open-menu:before{transform:rotate(38deg);top:16px;transition:0.4s}.menu-burger__header.open-menu:after{transform:rotate(-38deg);bottom:16px;transition:0.4s}section .container{padding:0}.footer_icon{padding-right:0;width:176px}.devaider{width:80%;margin-top:20px}h2{font-size:30px}.header_path{margin-left:20px}.text{font-size:14px;margin:0 auto}header nav,.button_link,.footer_part,footer nav{display:none}}

p.seventh_text_about_blog{line-height: 24px;}
.second_benefits{padding-top: 0;padding-bottom: 0;}
section.sixth_cources .se img.si{
    display: none;}

.first_introduction button{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    line-height: 29px;
    text-align: left;
}

.first_introduction a{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    text-decoration: none;
    font-size: 32px;
    color: #FFFFFF;
    margin-left: 31px;
}

.first_introduction .first_introduction_link_1{text-transform: uppercase;
    font-family: 'Neucha';
    display: block;
    font-size: 48px;
    line-height: 39px;
    margin: 0 auto;
    width: 440px;
text-align: left;
margin-left: 31px;

}

.first_introduction .first_introduction_link_2{font-family: 'Neucha';text-transform: uppercase;
    margin-top: 124px;
}

.first_introduction .first_introduction_link_3{font-family: 'Neucha';text-transform: uppercase;
    margin-top: 134px;
}

.first_introduction .first_introduction_button_1{

   width: 700px;height: 482px;
    margin-right: 4px;
    background: url("../img/first_page/1_bg_1.jpg");
    float: left;
}

.first_introduction .first_introduction_button_2{

    width: 558px;
    height: 247px;
    margin-bottom: 4px;
    background: url("../img/first_page/1_bg_2.jpg");
}

.first_introduction_button_3{
    width: 558px;
    height: 231px;
    background: url("../img/first_page/1_bg_3.jpg");
}

.second_benefits .second_items{
    background: #0B0A0A;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0;
    padding-top: 90px;

}
.second_benefits .second_items .second_benefits_items{
    max-width: 250px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
    min-width: 30%;
}
.second_benefits_icons{
    width: 70px;
    height: 70px;
}
.second_benefits_text{font-family: 'Neucha';margin: 0 auto;
    margin-top: 47px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    max-width: 240px;
    
}
.first_introduction{padding-top:80px;}
.h2_left{
    font-family: 'Neucha';
    color: #484848;
    display:block;
    text-align: right;
}

.third_for_whom img{
    float: right;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 40px;
}
.wrh{
    width: 50%;
    padding: 0;margin: 0;
}
.divaider{
    display:block;
    width: 100%;
    height: 3px;
    margin-bottom: 105px;
    background-color: #00B40A;
}

.third_description{
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 600px;
}

.third_for_whom .third_for_whom_h2{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 32px;
    color: #484848;
    text-align: left;
}

.third_for_whom .third_for_whom_text{
    display: inline-block;
    max-width: 548px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #484848;
    min-height: 105px;
    margin-bottom: 90px;
}

.h2_center{
    font-family: 'Neucha';
text-align: center;
color: #484848;
}
.center_divaider{
    max-width: 620px;
    height: 3px;
    background-color: #00B40A;
    margin: 0 auto;
}
.fourth_what_is_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.fourth_what_is_menu_elements{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 22px;
    max-width: 474px;
    min-width: 37%;
}
.fourth_what_is_menu span{
    font-weight: 700;
}
.fifth_command .h2_left{
    display: block;
    margin-top: 100px;
}
.fifth_command .fifth_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 30%;
    margin:0 15%;
}
.fifth_command img{
    width: 100%;
    max-width: 293px;
    height: 447px;
}
.fifth_trainer_information{
    margin-bottom: 40px;    max-width: 293px;    margin: 0 auto;
}
.fifth_trainer_name{
    margin-top: 37px;
    margin-bottom: 5px;font-family: 'Neucha';
    font-size: 30px;
    color: #00B40A;text-align: center;
}
.fifth_trainer_description{
    font-weight: 700;
    font-size: 16px;
    color: #484848;text-align: center;
}
.sixth_cources .center_divaider{
    margin-bottom: 106px;
    max-width: 900px;
}

.sixth_cource_photo{
    display: inline-block;
    width: 590px;
    max-width: 100%;
}
.sixth_name_cource{
    text-align: left;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #484848;font-family: 'Inter';

}
.sixth_link_cource{
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: underline;
    color: #00B40A;
    float: right;
}
.seventh_blog{
    background: #484848;
    padding-top: 40px;
}
.seventh_blog .h2_left{
    color: #FFFFFF;
}
.seventh_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.seventh_elements{
    max-width: 100%;
    width: 320px;
    margin-bottom: 40px;
}
.seventh_photo{
    width: 100%;
}
.seventh_blog{
    padding-bottom: 0;
}
.seventh_elements .seventh_text_about_blog{
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.seventh_more_about_blog{
    display: block;
    width: 126px;
    margin: 0 auto;
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: underline;
    color: #00B40A;
}
.wra{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.second_description_logo{
    text-align: right;
}
.se{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.s_t{
    max-width:450px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #484848;
    margin-bottom: 10px;
}
.second_description_h2{
    font-family: 'Inter';
    margin-top: 40px;
    font-weight: 600;
    font-size: 50px;
    color: #484848;
    text-align-last: left;
    margin-bottom: 50px;
    margin-left: 8%;
}

.second_description_h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-left: 8%;
    margin-bottom: 51px;
}

.second_description_text{
    margin-left: 8%;
    width: 92%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #484848;
}

.second_description a{
    display: block;
    width: 20px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #484848;
    margin-bottom: 71px;
}
.second_description{
    padding-bottom: 100px;
}

@media(max-width: 767px){
.element,header nav, header .button_start{
    display: none;
}.first_introduction .first_introduction_link_1{
    font-size: 18px;
    margin-top: 100px;
}
.wrh{
    width: 100%;
}
.sixth_cources{
    padding-top: 0;
    padding-bottom: 0;
}

.first_introduction{margin-bottom: 400px;}
.col-4{
    width: 100%;
}
.seventh_blog{
    padding-top: 50px;
}
.fourth_what_is{
    padding-bottom: 0;
    padding-top: 40px;
}
.fifth_command{
    padding-top: 0;
    padding-bottom: 40px;
}
.fourth_what_is_menu{
    margin-bottom: 100px;
}
.third_for_whom{
    padding-top: 0;
    padding-bottom: 0;
}
.sixth_cource_photo_2, .sixth_cource_photo, .col-7{
    display: none;
}
.third_for_whom h2 .third_for_whom_h2{
    font-size: 24px;
}
.third_for_whom_text{
    margin-bottom: 30px;
}
.first_introduction{
    padding-top: 60px;
}
h2{
    font-size: 30px;
}
.third_for_whom h2.third_for_whom_h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.first_introduction .first_introduction_link_1{
    font-size: 20px;
    line-height: 39px;
    margin-top: 100px;

}
.second_benefits_items{width: 170px;}
.second_benefits_text{
    font-size: 12px;
    margin-top: 20px;
}
.first_introduction .first_introduction_link_2{
    margin-top: 124px;
    font-size: 20px;

}
.wrh{width: 80%;}
h2.h2_left{
    margin-bottom: 20px;
    font-size: 30px;
}
.divaider{margin-bottom: 50px;}
.first_introduction{
    margin-bottom: 0;
}
.third_for_whom .third_for_whom_text{
font-size: 12px;
min-height: 140px;
}
.third_description{
    padding: 10px;
}
.first_introduction .first_introduction_link_3{
    margin-top: 120px;    font-size: 20px;

}
.first_introduction .container{
    padding: 0;
}
.h2_center{
    margin-bottom: 20px;
}
.fourth_what_is_menu{
    margin-top: 40px;
}
.si{
    display: inline-block;
}
.sixth_cources .center_divaider{
    margin-bottom: 40px;
}
.first_introduction .first_introduction_button_1{
    height: 154px;
    width: 100%;
    overflow: hidden;
    background: url("../img/article/Group\ 263.jpg");
}

.fourth_what_is_menu li{
    font-size: 16px;
    width: 319px;
}
.first_introduction .first_introduction_button_2{
    height: 154px;
    width: 100%;
    margin:5px 0 ;
    overflow: hidden;
    background: url("../img/first_page/1_bg_2.jpg");
}

.first_introduction_button_3{
    width: 100%;    height: 154px;

    overflow: hidden;
    background: url("../img/first_page/1_bg_3.jpg");
}
.second_description_h2{
    font-size: 30px;
    font-weight: 400;
}
.second_description_h3{
    font-size: 20px;
    font-weight: 600;
}
.second_description{padding-bottom: 0;}
section.sixth_cources .se img.si{
    display: inline-block;
max-width: 100%;
margin-bottom: 20px;}
.third_for_whom p.third_for_whom_text{margin-bottom: 20px;}
.fifth_trainer_information{margin-bottom: 20px;}
.fifth_command h2.h2_left{margin-top: 20px;}
}
