* {
    font-family: 'Istok Web', sans-serif;
}

header{
    position: fixed;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    margin-left: 31px;
}

.header_menu_navigation li{
    display: inline-block;
    margin-top: 27px;
    padding-right: 40px;
}

.header_menu_navigation .header_menu_navigation_link{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header_button_start_free{
    width: 150px;
    height: 35px;
    margin-right:30px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.first_introduction{
    margin-bottom: 126px;
}

.first_introduction button{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    line-height: 29px;
    text-align: left;
}

.first_introduction a{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 900;
    text-decoration: none;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 31px;
}

.first_introduction .first_introduction_link_1{
    font-size: 32px;
    line-height: 39px;
    margin-top: 90px;
}

.first_introduction .first_introduction_link_2{
    margin-top: 124px;
}

.first_introduction .first_introduction_link_3{
    margin-top: 134px;
}

.first_introduction .first_introduction_button_1{
    margin-top: 70px;
    width: 733px;
    height: 482px;
    margin-right: 4px;
    background: url("../img/first_page/1_bg_1.jpg");
    float: left;
}

.first_introduction .first_introduction_button_2{
    margin-top: 70px;
    width: 558px;
    height: 247px;
    margin-bottom: 4px;
    background: url("../img/first_page/1_bg_2.jpg");
}

.first_introduction_button_3{
    width: 558px;
    height: 231px;
    background: url("../img/first_page/1_bg_3.jpg");
}

.second_benefits{
    margin-bottom:153px;
}

.second_benefits .second_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.second_benefits .second_items .second_benefits_items{
    width: 374px;
    padding-bottom: 100px;
    text-align: center;
}

.second_benefits_text{
    margin-top: 47px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.h2_left{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    color: #484848;
    margin-left: 145px;
    display: inline-block;
}

.third_for_whom img{
    float: right;
}

.divaider{
    display: inline-block;
    width: 684px;
    height: 10px;
    margin-bottom: 105px;
    background-color: #00B40A;
}

.third_description{
    margin-left: 145px;
}

.third_for_whom .third_for_whom_h2{
    display: inline-block;
    width: 601px;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.third_for_whom .third_for_whom_text{
    display: inline-block;
    width: 548px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    min-height: 175px;
}

.h2_center{
margin-top: 239px;
font-family: 'Inter';
font-weight: 900;
font-size: 80px;
text-align: center;
line-height: 97px;
color: #484848;
}

.center_divaider{
    width: 684px;
    height: 10px;
    background-color: #00B40A;
    margin: 0 auto;
    margin-top: 18px;
}

.fourth_what_is_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 117px;
    margin-bottom: 214px;
}

.fourth_what_is_menu_elements{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 22px;
    min-width: 490px;
}

.fourth_what_is_menu span{
    font-weight: 700;
}

.fifth_command .divaider{
    margin: 60px 0px 86px 0px;
}

.fifth_command .h2_left{
    display: block;
    margin-left: 115px
}

.fifth_command .fifth_wrapper{
    margin-left: 115px;
    padding-right: 132px;
    display: flex;
    justify-content: space-between;
    min-width: 317px;
}

.fifth_trainer_name{
    margin-top: 37px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 32px;
    color: #00B40A;
}

.fifth_trainer_description{
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.sixth_cources .h2_center{
    margin-top: 242px;
    font-size: 96px;
}

.sixth_cources .center_divaider{
    margin-bottom: 106px;
    margin-top: 50px;
}

.sixth_cources .row{
    margin-left: 115px;
    margin-bottom: 51px;
}

.sixth_cource_photo{
    display: inline-block;
    width: 634px;
}

.sixth_name_cource{
    display: inline-block;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.sixth_cource_description{
    display: inline-block;
    font-weight: 400;
    width: 417px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.sixth_link_cource{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: underline;
    color: #00B40A;
}

.seventh_blog{
    margin-top: 156px;
}

.seventh_blog .container{
    background: #484848;
    border-radius: 20px;
}

.seventh_blog .h2_left{
    margin-top: 45px;
    color: #FFFFFF;
    margin-left: 115px;
}

.seventh_blog .divaider{
    margin-bottom: 70px;
}

.seventh_wrapper{
    margin-left: 115px;
    margin-right: 96px;
    display: flex;
    justify-content: space-between;
}

.seventh_elements{
    width: 320px;
}

.seventh_elements .seventh_text_about_blog{
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.seventh_more_about_blog{
    display: block;
    width: 126px;
    margin: 0 auto;
    margin-top: 52px;
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 18px;
    text-decoration-line: underline;
    color: #00B40A;
}

.eighth_description_logo{
    text-align: right;
    margin-top: 65px;
    margin-right: 103px;
}

.eighth_description_h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    color: #000000;
    margin-left: 109px;
    margin-bottom: 50px;
}

.eighth_description_h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    margin-left: 109px;
    margin-bottom: 51px;
}

.eighth_description_text{
    margin-left: 109px;
    margin-right: 106px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.eighth_description a{
    display: block;
    width: 50px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 71px;
}

footer{
    background-color: #484848;
    height: 293px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.footer_wrapper{
    height: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 113px;
    margin-right: 85px;
}

footer .footer_menu_links{
    list-style-type: none;
}

.footer_social_links_icons{
    margin-top: 35px;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}