* {
    font-family: 'Istok Web', sans-serif;
}

header{
    position: fixed;
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    margin-left: 31px;
}

.header_menu_navigation li{
    display: inline-block;
    margin-top: 27px;
    padding-right: 40px;
}

.header_menu_navigation .header_menu_navigation_link{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.header_button_start_free{
    width: 150px;
    height: 35px;
    margin-right:30px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.first_bg .container{
    padding-top: 74px;
}

.first_bg .container .first_wrapper{
    padding-top: 219px;
    background: url("../img/article/1_bg.jpg");
    background-repeat: no-repeat;
    padding-bottom: 204px;
}

.first_bg h2{
    margin: 0 auto;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    width: 1024px;
}

.second_article{
    margin-bottom: 300px;
}

.second_img{
    margin-top: 56px;
}

.header_path{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    margin-left: 58px;
    color: #000000;
    margin-bottom: 62px;
}

.header_path a{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.first_text{
    width: 671px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    min-height: 174px;
}

.first_img{
    display: block;
    margin: 0 auto;
    margin-bottom: 65px;
}

.first_wrapper_img{
    margin-left: 381px;
    margin-bottom: 88px;
}

.second_img{
    padding-right: 43px;
}

.wrapper_buttons{
    margin-left: 490px;
    margin-bottom: 201px;
}

button a{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

button{
    margin: 0;
    border: 0;
    margin-right: 59px;
}

.wrapper_articles{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    flex-wrap: wrap;
}

.article_element{
    width: 320px;
}

.first_img{
    text-align: center;
}

.first_link{
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    display: inline-block;
    text-decoration: none;
}

.logo{
    float: right;
    margin-top: 65px;
    margin-right: 110px;
    margin-bottom: 81px;
}

footer{
    background-color: #484848;
    height: 293px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.footer_wrapper{
    height: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 113px;
    margin-right: 85px;
}

footer .footer_menu_links{
    list-style-type: none;
}

.footer_social_links_icons{
    margin-top: 35px;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}