header .container{
    position: relative;
}

a:hover {
    color: #2d4a1a;
}

header{
    width: 100%;
    position: absolute;
}

*{color:#484848;;font-family:"Inter"}h2{font-weight:600;font-size:50px;text-align:left;margin:0}section{padding-bottom:100px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header nav{margin:0 auto}header ul li{display:inline-block;padding:24px 25px 0}header header ul{height:70px;margin:0}.button_start{display:inline-block;width:150px;height:35px;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5}
.first .container{
    background:url("../img/third_page/1_bg.jpg");
    height: 580px;
}

.header_path, .first a, header a{
    color:#FFFFFF
}
.header_path{
    padding-top: 90px;
}

.second_wrapper{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}
.second_wrapper span{
    font-weight: 700;
}

.second_description{
    max-width: 460px;
    padding-bottom: 50px;
}

.second_description_2{
    max-width: 487px;
    padding-bottom: 50px;
}

.third_wrapper{
    min-height: 703px;
    background: url("../img/third_page/3_bg.jpg");
}

.third_information{
    display: flex;
    justify-content: center;
    padding-top: 69px;
    align-items:center;
}

.third_year{
    width: 80px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.third_circle{
    width: 62px;
    height: 62px;
    background: #FFFFFF;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.third_description{
    max-width: 738px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.fourth_command .h2{
    text-align: center;
}

.fourth_command .devaider{
    margin: 0 auto;
    max-width: 295px;
    margin-bottom: 78px;
}

.fourth_command p{
    margin: 0 auto;
    max-width: 616px;
    min-height: 175px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 78px;
}

.fourth_wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fourth_trainer{
    float: left;
    margin-bottom: 50px;
    margin-top: 20px;
}

.fourth_wrapper_information{
    display: inline-block;
    max-width: 720px;
    margin: 0 auto;
}

.fourth_name{
    font-weight: 700;
    font-size: 32px;
    color: #00B40A;
}

.fourth_speciality{
    margin: 23px 0;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.fourth_information{
    min-height: 132px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    max-width: 100%;
}

.fourth_link{
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    text-decoration-line: underline;
    color: #00B40A;
}

.wrh h2.h2{
    text-align: right;
}
.fifth_cooperation .h2{
    text-align: center;
}

.fifth_cooperation .devaider{
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 124px;
}

.fifth_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.fifth_element{
    max-width: 427px;
    padding-bottom: 50px;
}

.fifth_name{
    font-weight: 700;
    font-size: 32px;
    color: #00B40A;
    padding-bottom: 50px;
}
.wrh{
    width: 50%;
}
.devaider{
    display:block;
    width: 100%;
    height: 5px;
    margin-bottom: 105px;
    background-color: #00B40A;
}
.third_history .devaider{
    margin-bottom: 50px;
}
.fifth_description{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}

.second_description_logo{
    text-align: right;
}

.second_description_h2{
    font-family: 'Inter';
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    color: #484848;
    text-align-last: left;
    margin-bottom: 50px;
    margin-left: 8%;
}

.second_description_h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-left: 8%;
    margin-bottom: 51px;
}

.second_description_text{
    margin-left: 8%;
    width: 92%;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
}

.second_description a{
    display: block;
    width: 20px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #484848;
    margin-bottom: 71px;
}

footer{
    background-color: #484848;
    min-height: 293px;
}
.footer_icon{
    display: inline-block;
    max-width: 176px;
    margin: 0 auto;
    text-align: center;
}
.footer_icon img{margin-top: 20px;}
footer .footer_icon img.footer_icon_logo{
    margin-top: 0;
}
.footer_part{color:#FFFFFF;font-size: 14px;}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 293px;
}

footer ul{
    list-style-type: none;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}footer span a{
    font-weight: 700;
}
@media(max-width: 767px){
.element,header nav, header .button_start{
    display: none;
}
h2{font-size: 30px;}
.third_year{
    font-size: 16px;
    margin-right: 5px;
}
.third_circle{
    display: none;
}
.third_information{
    padding-top: 40px;
}
}