*{color:#484848;font-family:"Inter"}h2{font-weight:400;font-size:64px;text-align:center;margin:0;font-family: 'Neucha';}section{padding-bottom:80px;padding-top:110px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}a:hover{color:#2d4a1a}header{background:#fff;display:flex;align-items:center;position:fixed;width:100%;top: 0;}.header_nav{margin:0 auto;top: 0;}.header_menu{display:flex;align-items:center;padding:0;margin:0}.header_menu li{display:inline-block;padding:10px 25px 0}.header_wrapper{display:flex;justify-content:space-between;align-items:center}.button_start{width:180px;height:30px;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5}.header_path,.header_path a{font-family:'Inter';font-weight:400;font-size:12px;color:#484848}.header_path{padding-bottom:40px}footer{background-color:#484848}.footer_icon{margin:0 auto;padding-right:130px;width:306px}.footer_icon img{margin-top:20px}img.footer_icon_logo{margin-top:0}.footer_part{color:#fff;font-size:14px}.footer_wrapper{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;height:293px}footer ul{list-style-type:none}footer a{color:#FFFFFF}footer span a{font-weight:700}.devaider{margin:0 auto;margin-top:30px;margin-bottom:60px;max-width:700px;height:3px;background:#00B40A}.wrapper{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center}.text{max-width:390px;font-weight:400;font-size:18px;line-height:23px;text-align:center}section img{margin-bottom:20px;max-width:100%}
@media screen and (max-width:1280px){div.contentblock {width:1200px;}}
@media screen and (max-width:1140px){div.contentblock {width:1024px;}}
@media screen and (max-width:992px){div.contentblock {width:970px;}}
@media(max-width: 767px){header{height:60px}.header_nav{display:block;position:absolute;top:55px;background:rgb(255,255,255);width:100%;transition:all 0.4s ease;left:-100%}.header_nav.open-menu{left:0}.header_menu{display:block;height:auto}.header_menu li{width:100%;text-align:center;margin:10px 0;padding:0}.menu-burger__header{position:relative;width:40px;height:35px;display:block}.menu-burger__header span,.menu-burger__header:after,.menu-burger__header:before{height:3px;width:100%;position:absolute;background:#484848}.menu-burger__header span{top:16px}.menu-burger__header:after,.menu-burger__header:before{content:''}.menu-burger__header:after{bottom:5px}.menu-burger__header:before{top:5px}.menu-burger__header.open-menu span{opacity:0;transition:0.5s}.menu-burger__header.open-menu:before{transform:rotate(38deg);top:16px;transition:0.4s}.menu-burger__header.open-menu:after{transform:rotate(-38deg);bottom:16px;transition:0.4s}section .container{padding:0}.footer_icon{padding-right:0;width:176px}.devaider{width:80%;margin-top:20px}h2{font-size:30px}.header_path{margin-left:20px}.text{font-size:14px;margin:0 auto}header nav,.button_link,.second_img,.footer_part,footer nav{display:none}}
section .h2{
    text-align: right;
}
.el{
    display: inline-block;
    max-width: 1500px;
    width: 50%;
}
.img_1{

    max-width: 100%;
}
.wrapper{
    display: flex;justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
}
.devaider{
    width: 100%;
    height: 3px;
    background:#00B40A;
    margin-bottom: 61px;
}
.text{
    margin-bottom: 40px;
    max-width: 460px;
}
section ol{margin: 0 auto;
    margin-bottom: 50px;

}

section li{
    max-width: 450px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #484848;
    margin: 0 auto;
    text-align: left;
}

section .some_text{
    margin: 0 auto;
    max-width: 460px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #484848;
    margin-bottom: 30px;
    min-height: 100px;
    text-align: left;
}

.img_2{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 150px;
}

.img_3{
    float: right;    margin-top: 40px;

}
@media(max-width: 767px){
.element,header nav, header .button_start, .header_path{
    display: none;
}
.h2{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0;
}
.el{width: 80%;}
.img_2{
    margin-top: 20px;
}
}