*{color:#484848;font-family:"Inter"}h2{font-weight:600;font-size:50px;text-align:center;margin:0}section{padding-bottom:80px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}a:hover{color:#2d4a1a}header{background:#fff;display:flex;align-items:center;position:fixed;width:100%}.header_nav{margin:0 auto}.header_menu{display:flex;align-items:center;padding:0;margin:0}.header_menu li{display:inline-block;padding:10px 25px 0}.header_wrapper{display:flex;justify-content:space-between;align-items:center}.button_start{width:170px;height:35px;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5}.header_path,.header_path a{font-family:'Inter';font-weight:400;font-size:12px;color:#fff}footer{background-color:#484848}.footer_icon{margin:0 auto;padding-right:130px;width:306px}.footer_icon img{margin-top:20px}img.footer_icon_logo{margin-top:0}.footer_part{color:#fff;font-size:14px}.footer_wrapper{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;height:293px}footer ul{list-style-type:none}footer a{color:#FFFFFF}footer span a{font-weight:700}
@media screen and (max-width:1280px){div.contentblock {width:1200px;}}
@media screen and (max-width:1140px){div.contentblock {width:1024px;}}
@media screen and (max-width:992px){div.contentblock {width:970px;}}
@media(max-width: 767px){header{height:60px}.header_nav{display:block;position:absolute;top:55px;background:rgb(255,255,255);width:100%;transition:all 0.4s ease;left:-100%}.header_nav.open-menu{left:0}.header_menu{display:block;height:auto}.header_menu li{width:100%;text-align:center;margin:10px 0;padding:0}.menu-burger__header{position:relative;width:40px;height:35px;display:block}.menu-burger__header span,.menu-burger__header:after,.menu-burger__header:before{height:3px;width:100%;position:absolute;background:#484848}.menu-burger__header span{top:16px}.menu-burger__header:after,.menu-burger__header:before{content:''}.menu-burger__header:after{bottom:5px}.menu-burger__header:before{top:5px}.menu-burger__header.open-menu span{opacity:0;transition:0.5s}.menu-burger__header.open-menu:before{transform:rotate(38deg);top:16px;transition:0.4s}.menu-burger__header.open-menu:after{transform:rotate(-38deg);bottom:16px;transition:0.4s}section .container{padding:0}.footer_icon{padding-right:0;width:176px}.devaider{width:80%;margin-top:20px}h2{font-size:30px}.header_path{margin-left:20px}header nav,.button_link,.second_img,.footer_part,footer nav{display:none}}
.button_start.s{
    display: none;
}
.first_introduction .header_path{padding-top: 110px;}

section.first_introduction{
    background-color:#000000;
    padding-bottom: 0;
    padding-bottom: 100px;
}
header .button_start{
    margin: 0;
}
h2{margin-bottom: 40px;}
.first_introduction{
    background:url("../img/second_page/1_bg.jpg");
    background-repeat: no-repeat;
    padding-bottom: 144px;
    height: 571px;
}

.first_h2{
    color: #FFFFFF;
    text-align: left;
    margin-left: 30px;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 20px;
}

.first_description{
    max-width: 562px;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: 30px;
}

.first_button{
    display: block;
    margin-top: 47px;
    width: 170px;
    height: 35px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-left: 30px;
}

.h2{
    text-align: right;
}
.header_path{
    font-size: 12px;
    color:#FFFFFF;
    margin-bottom: 20px;
    padding-top: 90px;

}
.second_who{padding-top:80px;}
.second_who .second_devaider{
    margin: 0 auto;
    margin-bottom: 83px;
    max-width: 770px;
    height: 3px;
    background:#00B40A;
}
.second_item_description{
    font-size: 14px;
    font-weight: 700;
}
.second_who .second_wrapper_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_who .second_point_item{
    width: 213px;
    text-align: center;
    margin-bottom: 40px;
}
.second_who h2{text-align: center;}
.second_who .second_item_img{
    top: 0;
    height: 70px;
    width: 70px;
    margin-bottom: 25px;
}

.second_who .second_benefits_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
}

.third_img{
    max-width: 100%;
}
.third_result .th_wr{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.third_result .third_text{
    display: inline-block;
    max-width: 501px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #484848;
    padding:0 20px;
}

.third_result .third_h3{
    color: #484848;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.third_result .third_fat{
    font-weight: 700;
}

.third_result .third_button_start_free{
    display: block;
    border: 0;
    margin: 0 auto;
    width: 170px ;
    height: 35px;
    background: #00B40A;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 100px;
}

.fourth_img{
    float: right;
    max-width: 100%;
    overflow: hidden;
}
.th_el{
    display: inline-block;
    max-width: 571px;
}
.th_el .button_start{
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 50px;
    
}
.fourth_description_about_trainer{
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    line-height: 21px;
    color: #484848;
    margin-bottom: 40px;
    padding: 0 20px;
}

.fifth_wrapper_facts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fifth_fact{
    text-align: center;
    margin-bottom: 70px;
    min-width: 30%;
}

.fifth_h2_fact{
    color: #00B40A;
    font-size: 50px;
    font-weight: 600;
}

.fifth_facts .fact_description{
    width: 259px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #484848;
    text-align: center;
    margin: 0 auto;
}

.fact_description span{
    font-weight: 700;
}

.sixth_divaider_grey{
    max-width: 50%;
    height: 3px;
    background:#484848;
    margin-bottom: 41px;
}

.sixth_button_video{
    display: block;
    max-width: 618px;
    width: 100%;
    height: 367px;
    background: url("../img/second_page/6_img.jpg");
    margin: 0 auto;
    margin-bottom: 41px;
}

.sixth_divaider_green{
    max-width: 50%;
    height: 3px;
    background: #00B40A;
    margin-bottom: 137px;
    margin-left: 50%;
}

.sixth_button_start_free{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 170px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.seventh_review{
    background: #484848;
    padding-bottom: 100px;
}

.seventh_review .seventh_h2{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 103px;
    padding-top: 40px;
}

.seventh_review_element{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 52px;
    width: 80%;
}
.sixth_video .th_wr{
    max-width: 560px;
    margin: 0 auto;
    padding:0 20px;
    margin-bottom: 40px;
}
.seventh_review_description{
    display: inline-block;
    max-width: 610px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.seventh_review_img{
    display: inline-block;
    width: 103px;
    height: 102px;
    margin-bottom: 20px;
    border-radius:180px
}

.seventh_fat{
    font-weight: 700;
    color: #FFFFFF
}

.eighth_process{
    margin-top: 100px;
}

.eighth_h2{
    text-align: center;
    color: #484848;
}

.eighth_devaider{
    margin: 0 auto;
    width: 290px;
    height: 3px;
    background: #00B40A;
    margin-bottom: 52px;
}

.eighth_list li{
    margin: 0 auto;
    padding-bottom: 46px;
    max-width: 645px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}
.eighth_list li::marker{
    font-size: 48px;
    font-weight: 400;
}
.eighth_button{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 170px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 70px;
}

.ninth_h2{
    font-family: 'Inter';
    color: #484848;
}
.ninth_about_cources{
    padding-bottom: 0;
}
.ninth_devaider{
    max-width: 648px;
    height: 3px;
    background:#00B40A;
    margin: 0 auto;
    margin-bottom: 110px;
}
.ninth_about_cource .first_button{
    display: block;
    margin:0 auto;
    margin-top: 40px;
}
.ninth_about_cource{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.n_v{
    max-width: 634px;
    min-width: 48%;
}
.n_t{
    max-width: 417px;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.n_t .button_start{
    margin-top: 130px;
    float: right;
    margin-bottom: 20px;
}
.ninth_about_cource h2{
    text-align-last: left;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 32px;
    color: #484848;
}
.ninth_about_cource h2 span{
    float: right;
}

.second_description_logo{
    text-align: right;
}

.second_description_h2{
    font-family: 'Inter';
    margin-top: 40px;
    font-weight: 600;
    font-size: 50px;
    color: #484848;
    text-align-last: left;
    margin-bottom: 50px;
    margin-left: 8%;
}

.second_description_h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-left: 8%;
    margin-bottom: 51px;
}

.second_description_text{
    margin-left: 8%;
    width: 92%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #484848;
}

.second_description a{
    display: block;
    width: 20px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #484848;
    margin-bottom: 71px;
}


.wrh{
    width: 50%;
}
.devaider{
    display:block;
    width: 100%;
    height: 3px;
    margin-bottom: 105px;
    background-color: #00B40A;
}

@media(max-width: 767px){
.element,header nav{
    display: none;
}
.fourth_about_trainer{
    margin-bottom: 450px;
}
.wrh{
    width: 100%;
}
h2.first_h2{
    font-size: 32px;
    font-weight: 600;
}
h2{font-size: 30px;margin-bottom: 20px;}
.first_description{font-size: 16px;font-weight: 700;}
.first_introduction{padding-bottom: 0;background:url("../img/article/Rectangle\ 19.jpg");height: 515px;background-size:cover}
.second_point_item{max-width: 150px;}
.second_item_description{font-size: 12px;}
.second_devaider{width: 80%;}
.wrh{width: 80%;}
.second_who{padding-bottom: 40px;}
.devaider{margin-bottom: 50px;}
.third_result .third_h3{
    font-size: 20px;
}
.third_img{
    margin-top: 40px;
}
.third_button_start_free{
    margin-top: 40px;
}
.third_result{
    padding-bottom: 80px;
}
.button_start.f{
    display: none;
}
.button_start.s{
    display: block;
    margin: 0 auto;
    margin-top: 600px;
}
.fourth_about_trainer{margin-bottom: 0;}
.fifth_fact{
    width: 160px;
}
.fifth_facts .fact_description{
    width: 160px;
    font-size: 12px;
    text-align: center;
}
.fifth_h2_fact{font-size: 40px;}
.fifth_facts{padding-bottom: 40px;}
.sixth_divaider_grey, .sixth_divaider_green{
max-width: 80%;
}
.sixth_divaider_green{margin-left: 20%;margin-bottom: 40px;}
.seventh_review{padding-bottom: 40px;}
.eighth_process li{
    margin: 0;
    margin-right: 0;
    width: 290px;
}
.eighth_process ol{padding: 0;padding-left: 70px;}
.ninth_about_cource .button_start{
    display: block;
    margin: 20px auto;
    margin-right: 30%;
}
.second_description_h2{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
}
.second_description_h3{
    font-size: 20px;
    font-weight: 600;
}
.second_description{padding-bottom: 0;}.footer_part, footer nav{
    display: none;
}

.ninth_about_cources a.bl{
    display: block;
}
.n_t{padding:20px;}
.ninth_devaider{width: 80%;}
.n_t h2{font-size: 26px;}}