*{color:#484848;;font-family:"Inter"}h2{font-weight:600;font-size:50px;text-align:center;margin:0}section{padding-bottom:100px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}header{background:#FFFFFF;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header nav{margin:0 auto}header ul li{display:inline-block;padding:24px 25px 0}header header ul{height:70px;margin:0}.button_start{display:inline-block;width:150px;height:35px;margin:0 auto;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5}
header .container{
    position: relative;
}

header{
    width: 100%;
    position: absolute;
}

.header_path{
    color: #FFFFFF;
    margin-left: 31px;
}

.first_introduction .container{
    background:url("../img/second_page/1_bg.jpg");
    background-repeat: no-repeat;
    padding-bottom: 144px;
}

.first_h2{
    padding-top: 134px;
    color: #FFFFFF;
    text-align: left;
}

.first_description{
    max-width: 562px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

.first_button{
    margin-top: 47px;
    width: 150px;
    height: 35px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.h2{
    text-align: center;
}

.second_who .second_devaider{
    margin: 0 auto;
    margin-bottom: 83px;
    max-width: 770px;
    height: 5px;
    background:#00B40A;
}

.second_who .second_wrapper_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_who .second_point_item{
    width: 213px;
    text-align: center;
    margin-bottom: 40px;
}

.second_who .second_item_img{
    top: 0;
    height: 109px;
    margin-bottom: 25px;
}

.second_who .second_benefits_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
}

.third_result{
    margin-bottom: 129px;
}

.third_result .h2{
    max-width: 438px;
}

.third_result .third_devaider{
    margin-bottom: 92px;
    max-width: 440px;
    height: 5px;
    background: #00B40A;
}
.third_img{
    max-width: 100%;
}
.third_result .th_wr{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.third_result .third_text{
    display: inline-block;
    max-width: 438px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #484848;
}

.third_result .third_h3{
    color: #484848;
    font-weight: 700;
    font-size: 32px;
}

.third_result .third_fat{
    font-weight: 700;
}

.third_result .third_button_start_free{
    display: block;
    border: 0;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 200px;
}

.fourth_about_trainer{
    margin-bottom: 139px;
}

.fourth_about_trainer .h2{
    text-align: left;
    max-width: 388px;
    font-size: 64px;
}

.fourth_devaider{
    margin-bottom: 109px;
    max-width: 340px;
    height: 5px;
    background:#00B40A;
}

.fourth_img{
    float: right;
    max-width: 100%;
    overflow: hidden;
}

.fourth_description_about_trainer{
    display: inline-block;
    max-width: 571px;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
    margin-bottom: 40px;
}

.fifth_wrapper_facts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fifth_fact{
    text-align: center;
    margin-bottom: 70px;
    min-width: 30%;
}

.fifth_h2_fact{
    color: #00B40A;
    font-size: 50px;
    font-weight: 600;
}

.fifth_facts .fact_description{
    width: 259px;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #484848;
    text-align: center;
    margin: 0 auto;
}

.fact_description span{
    font-weight: 700;
}

.sixth_divaider_grey{
    max-width: 50%;
    height: 5px;
    background:#484848;
    margin-bottom: 41px;
}

.sixth_button_video{
    display: block;
    max-width: 618px;
    width: 100%;
    height: 367px;
    background: url("../img/second_page/6_img.jpg");
    margin: 0 auto;
    margin-bottom: 41px;
}

.sixth_divaider_green{
    max-width: 50%;
    height: 5px;
    background: #00B40A;
    margin-bottom: 137px;
    margin-left: 50%;
}

.sixth_button_start_free{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.seventh_review{
    background: #484848;
    padding-bottom: 100px;
}

.seventh_review .seventh_h2{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 103px;
}

.seventh_review_element{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 52px;
}
.sixth_video .th_wr{
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.seventh_review_description{
    display: inline-block;
    max-width: 610px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.seventh_review_img{
    display: inline-block;
    width: 103px;
    height: 102px;
    margin-bottom: 40px;
}

.seventh_fat{
    font-weight: 700;
}

.eighth_process{
    margin-top: 169px;
}

.eighth_h2{
    text-align: center;
    color: #484848;
}

.eighth_devaider{
    margin: 0 auto;
    width: 290px;
    height: 5px;
    background: #00B40A;
    margin-bottom: 52px;
}

.eighth_list li{
    margin: 0 auto;
    padding-bottom: 46px;
    max-width: 600px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #484848;
}

.eighth_button{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 70px;
}

.ninth_about_cources{
    margin-bottom: 40px;
}

.ninth_h2{
    font-family: 'Inter';
    color: #484848;
}

.ninth_devaider{
    width: 260px;
    height: 5px;
    background:#00B40A;
    margin: 0 auto;
    margin-bottom: 150px;
}

.ninth_wrapper_cources{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ninth_about_cource{
    width: 241px;
    text-align: center;
    margin: 0 auto;
}

.ninth_name_cource{
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 32px;
    color: #484848;
}

.ninth_cost{
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-top: 40px;
    margin-bottom: 168px;
}

.ninth_button{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.second_description_logo{
    text-align: right;
}

.second_description_h2{
    font-family: 'Inter';
    margin-top: 20px;
    font-weight: 400;
    font-size: 48px;
    color: #484848;
    text-align-last: left;
    margin-bottom: 50px;
    margin-left: 8%;
}

.second_description_h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #484848;
    margin-left: 8%;
    margin-bottom: 51px;
}

.second_description_text{
    margin-left: 8%;
    max-width: 1080px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.second_description a{
    display: block;
    width: 20px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #484848;
    margin-bottom: 71px;
}

footer{
    background-color: #484848;
    min-height: 293px;
}
.footer_icon{
    display: inline-block;
    max-width: 176px;
    text-align: center;
}
.footer_icon img{margin-top: 20px;}
.footer_part{color:#FFFFFF;font-size: 14px;}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 293px;
}

footer ul{
    list-style-type: none;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
footer span a{
    font-weight: 700;
}
@media(max-width: 767px){
.element,header nav, header .button_start{
    display: none;
}
.fourth_about_trainer{
    margin-bottom: 450px;
}
}