*{color:#484848;font-family:"Inter"}h2{font-family: 'Neucha';font-weight:400;font-size:64px;text-align:center;margin:0}section{padding-top:110px}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}a:hover{color:#2d4a1a}header{background:#fff;display:flex;align-items:center;position:fixed;width:100%;top: 0;}.header_nav{margin:0 auto}.header_menu{display:flex;align-items:center;padding:0;margin:0}.header_menu li{display:inline-block;padding:10px 25px 0}.header_wrapper{display:flex;justify-content:space-between;align-items:center}.button_start{width:150px;height:35px;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5}.header_path,.header_path a{font-family:'Inter';font-weight:400;font-size:12px;color: #fff;}.header_path{padding-bottom:40px}footer{background-color:#484848}.footer_icon{margin:0 auto;padding-right:130px;width:306px}.footer_icon img{margin-top:20px}img.footer_icon_logo{margin-top:0}.footer_part{color:#fff;font-size:14px}.footer_wrapper{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;height:293px}footer ul{list-style-type:none}footer a{color:#FFFFFF}footer span a{font-weight:700}.devaider{margin:0 auto;margin-top:40px;margin-bottom:60px;max-width:700px;height:3px;background:#00B40A}.wrapper{display:flex;justify-content:space-between;flex-wrap:wrap}.text{max-width:390px;font-weight:400;font-size:18px;line-height:26px;text-align:center}section img{margin-bottom:20px;max-width:100%}
@media screen and (max-width:1280px){div.contentblock {width:1200px;}}
@media screen and (max-width:1140px){div.contentblock {width:1024px;}}
@media screen and (max-width:992px){div.contentblock {width:970px;}}
@media(max-width: 767px){header{height:60px}.header_nav{display:block;position:absolute;top:55px;background:rgb(255,255,255);width:100%;transition:all 0.4s ease;left:-100%}.header_nav.open-menu{left:0}.header_menu{display:block;height:auto}.header_menu li{width:100%;text-align:center;margin:10px 0;padding:0}.menu-burger__header{position:relative;width:40px;height:35px;display:block}.menu-burger__header span,.menu-burger__header:after,.menu-burger__header:before{height:3px;width:100%;position:absolute;background:#484848}.menu-burger__header span{top:16px}.menu-burger__header:after,.menu-burger__header:before{content:''}.menu-burger__header:after{bottom:5px}.menu-burger__header:before{top:5px}.menu-burger__header.open-menu span{opacity:0;transition:0.5s}.menu-burger__header.open-menu:before{transform:rotate(38deg);top:16px;transition:0.4s}.menu-burger__header.open-menu:after{transform:rotate(-38deg);bottom:16px;transition:0.4s}section .container{padding:0}.footer_icon{padding-right:0;width:176px}.devaider{width:80%;margin-top:20px}h2{font-size:30px}.header_path{margin-left:20px}.text{font-size:14px;margin:0 auto}header nav,.button_link,.second_img,.footer_part,footer nav{display:none}}
section{padding-top: 90px;}

.second_description{
    padding-bottom: 100px;
}
.first h2{display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 20%;
    color:#fff;font-family: 'Neucha';
}

.first{
    background:url("../img/third_page/1_bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 0;
    padding-top: 0;
    height: 483px;
}

.second_wrapper{
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    
}
.second_wrapper span{
    font-weight: 700;
}

.second_description{
    max-width: 460px;
    padding: 0 20px;
    padding-bottom: 50px;

}

.second_description_2{
    max-width: 500px;    padding: 0 20px;
    padding-bottom: 50px;
}

.third_wrapper{
    min-height: 450px;
    background: url("../img/third_page/3_bg.jpg");
}

.third_information{
    display: flex;
    justify-content: center;
    padding-top: 69px;
    align-items:center;
}

.third_year{
    width: 80px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.third_circle{
    width: 62px;
    height: 62px;
    background: #FFFFFF;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.third_description{
    max-width: 738px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.fourth_command .h2{
    text-align: center;
    margin-bottom: 40px;
}

.fourth_command .devaider{
    margin: 0 auto;
    max-width: 680px;
    margin-bottom: 78px;
}

.fourth_command p{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 616px;
    min-height: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 78px;
}

.fourth_wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fourth_trainer{
    float: left;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 293px;
    height: 447px;
}

.fourth_wrapper_information{    padding: 0 20px;
    display: inline-block;
    max-width: 720px;
    margin: 0 auto;
}

.fourth_name{
    font-weight: 600;
    font-size: 16px;
    color: #00B40A;
}

.fourth_speciality{
    margin: 5px 0;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 51px;
}

.fourth_information{

    min-height: 115px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 100%;
}

.fourth_link{
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 14px;
    text-decoration-line: underline;
    color: #00B40A;
    float: right;
}

.wrh h2.h2{
    text-align: right;
}
.fifth_cooperation .h2{
    text-align: center;
    margin-bottom: 40px;
}

.fifth_cooperation .devaider{
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 124px;
}

.fifth_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.fifth_element{
    max-width: 427px;
    padding-bottom: 50px;
}

.fifth_name{
    font-weight: 600;
    font-size: 20px;
    color: #00B40A;
    padding-bottom: 40px;
    text-align: center;
}
.wrh{
    width: 50%;
}
.third_history{padding-top: 90px;}
.devaider{
    display:block;
    width: 100%;
    height: 3px;
    margin-bottom: 105px;
    background-color: #00B40A;
}
.third_history .devaider{
    margin-bottom: 50px;
}
.fifth_description{    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.second_description_logo{
    text-align: right;
}

.second_description_h2{
    font-family: 'Inter';
    margin-top: 40px;
    font-weight: 600;
    font-size: 50px;
    color: #484848;
    text-align-last: left;
    margin-bottom: 50px;
    margin-left: 8%;
}

.second_description_h3{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-left: 8%;
    margin-bottom: 51px;
}

.second_description_text{
    margin-left: 8%;
    width: 92%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #484848;
}

.second_description2 a{
    display: block;
    width: 20px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #484848;
    margin-bottom: 71px;
}
@media(max-width: 767px){
    .fourth_link{margin-top: 40px;}
.element{
    display: none;
}
.first{background:url("../img/article/Rectangle\ 67.jpg");height: 465px;background-size:cover}
h2{font-size: 30px;margin-bottom: 20px;}
h2.h2{margin-bottom: 20px;}
.third_year{
    font-size: 16px;
    margin-right: 5px;
}
.third_circle{
    display: none;
}
.third_information{
    padding-top: 40px;
}
.wrh{width: 80%;}

.second_description2{
    padding-bottom: 100px;
}
.devaider{margin-bottom: 50px;}
.third_history{padding-top: 40px;}
.fourth_command{padding-top: 60px;}
.fourth_command .h2{
    margin-bottom: 20px;
}
.fourth_command .devaider{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
}
.fifth_cooperation, .second_description2{
    padding-top: 50px;
}
.second_description2{padding-bottom: 0;}
.fifth_cooperation h2.h2{margin-bottom: 20px;}
.fifth_cooperation .devaider{
    margin-bottom: 50px;
}
.second_description_h2{
    font-size: 30px;
    font-weight: 400;
}
.second_description_h3{
    font-size: 20px;
    font-weight: 600;
}
.third_wrapper{
    min-height: 300px;
}
}