*{color:#484848;;font-family:"Inter"}h2{font-weight:600;font-size:50px;text-align:center;margin:0;margin-bottom: 40px;}a{color:#484848;font-weight:400;font-size:14px;text-decoration:none}header{background:#FFFFFF;position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header nav.header__nav{margin:0 auto}header ul li.menu__item{display:inline-block;padding:24px 25px 0}header header ul{height:70px;margin:0;padding:24px 25px 0}.button_start{display:inline-block;width:150px;height:35px;background:#00B40A;font-weight:400;font-size:14px;border:0;text-align:center;color:#f5f5f5; }
a:hover {
    color: #2d4a1a;
}
header {
	top: 0;
	left: 0;
	z-index: 20;
	background: #fff;
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;

}
header .container{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}
.content-wrapper{
	width: 100%;
}
.header__menu {
    display: flex;
	position: relative;
	z-index: 2;
}
.header__menu li {
	text-transform: uppercase;
}
header{position:fixed;width:100%}header .header_wrapper{display:flex;justify-content:space-between;align-items:center;height:70px}header ul li{display:inline-block}header nav{margin-right:20%}header ul{height:70px;margin:0;line-height: 17px;}
@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} 
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} } 
@media screen and (max-width: 992px) { div.contentblock {width: 970px;} 
}}
@media(max-width: 767px){
.header_wrapper{
    height: 80px;
}
.header__nav {
	display: block;
	position: absolute;
    top: 55px;
    left: 0;
    background: rgb(255, 255, 255);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
	left:-100%;
}
.header__menu {
	display: block;
    height: auto;
}
.header__nav.open-menu{
    left:0;
}
.header__menu li.menu__item {
    width: 100%;
    text-align: center;
    margin: 0 auto;
	margin: 0 0px 20px;
    padding: 0;
    font-size: 14px;
    margin-top: 20px;

	}
.menu-burger__header {
	position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
   }
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #515758;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

header {
	height: 60px;
}
.content-wrapper {
    margin-top: 48px;
}
.fixed-pade {
    overflow: hidden;
}

}
.first_bg .container{
    padding-top: 74px;
}
.first_bg {
    padding-bottom: 60px;
}
.first_bg .container .first_wrapper{
    padding-top: 219px;
    background: url("../img/article/1_bg.jpg");
    background-repeat: no-repeat;
    padding-bottom: 204px;
}

.first_bg h2{
    margin: 0 auto;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    width: 90%;
}

.second_article{padding-bottom:300px;}

.second_img{margin-top:56px;}

.header_path, .header_link{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #484848;
    margin-bottom: 40px;
}
.first_text{
    max-width: 671px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
    min-height: 174px;
}

.first_img{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 65px;
    max-width: 100%;
}

.first_wrapper_img{
    max-width: 671px;
    margin:0 auto;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second_img{
    max-width: 251px;
}

button a{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #484848;
    text-decoration: none;
}

button{
    margin: 0;
    border: 0;
}
.wrapper_buttons{
    margin: 0 auto;
    max-width: 350px;
    margin-top:40px;
    text-align: center;
    margin-bottom: 40px;
}.bul{display:inline-block;padding-right:15px;padding-left:15px;}

button{text-align:center;background:none;border:0;margin-right:15px;}
.wrapper_articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article_element{
    max-width: 319px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.first_img{
    text-align: center;
    max-width: 100%;
    overflow: hidden;
}

.first_link{
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
    width: 100%;
    text-decoration: none;
}

.logo{
    float: right;
    margin-top: 65px;
    padding-bottom: 81px;
}

footer{
    background-color: #484848;
    min-height: 293px;
}
.footer_icon{
    margin: 0 auto;
    padding-right: 130px;
    display: inline-block;
    max-width: 306px;
    text-align: center;
}
.footer_icon img{margin-top: 20px;}
.footer_part{color:#FFFFFF;font-size: 14px;}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 293px;
}
footer .footer_icon img.footer_icon_logo{
    margin-top: 0;
}
footer ul{
    list-style-type: none;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}footer span a{
    font-weight: 700;
}
@media(max-width: 767px){
    header nav, header .button_start{
        display: none;
    }
    .first_bg h2{
        font-size: 30px;
    }
    }