* {
    font-family: 'Istok Web', sans-serif;
}

header .container{
    position: relative;
}

.header_all{
    width: 100%;
    position: absolute;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    margin-left: 31px;  
}

.header_link{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_menu_navigation li{
    display: inline-block;
    padding-right: 40px;
    margin-top: 27px;
}

.header_menu_navigation .header_menu_navigation_link{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_button_start_free{
    width: 150px;
    height: 35px;
    margin-right:30px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.header_path{
    color: #FFFFFF;
    margin-left: 31px;
}

.first_introduction .container{
    padding-left: 60px;
    background:url("../img/second_page/1_bg.jpg");
    background-repeat: no-repeat;
    padding-bottom: 144px;
}

.first_h2{
    padding-top: 134px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    color: #FFFFFF;
}

.first_description{
    width: 562px;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

.first_button{
    margin-top: 47px;
    width: 150px;
    height: 35px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.second_who{
    margin-top: 106px;
    margin-bottom: 261px;
}

.h2{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #484848;
}

.second_who .second_devaider{
    margin: 0 auto;
    margin-bottom: 83px;
    width: 770px;
    height: 5px;
    background:#00B40A;
}

.second_who .second_wrapper_items{
    display: flex;
    justify-content: space-around;
}

.second_who .second_point_item{
    width: 213px;
    text-align: center;
}

.second_who .second_item_img{
    top: 0;
    height: 109px;
    margin-bottom: 25px;
}

.second_who .second_benefits_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.third_result{
    margin-bottom: 129px;
}

.third_result .h2{
    width: 438px;
    font-size: 64px;
    margin-left: 82px;
}

.third_result .third_devaider{
    margin-bottom: 92px;
    width: 440px;
    height: 5px;
    background: #00B40A;
    margin-left: 82px;
}

.third_result .third_img{
    float: right;
}

.third_result .third_text{
    margin-left: 82px;
    margin-right: 164px;
    width: 438px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #484848;
}

.third_result .third_h3{
    color: #484848;
    font-weight: 700;
    font-size: 32px;
}

.third_result .third_fat{
    font-weight: 700;
}

.third_result .third_button_start_free{
    display: block;
    border: 0;
    margin: 0 auto;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 200px;
}

.fourth_about_trainer{
    margin-bottom: 139px;
}

.fourth_about_trainer .h2{
    text-align: left;
    margin-left: 82px;
    width: 388px;
    font-size: 64px;
}

.fourth_devaider{
    margin-left: 82px;
    margin-bottom: 109px;
    width: 340px;
    height: 5px;
    background:#00B40A;
}

.fourth_img{
    float: right;
}

.fourth_description_about_trainer{
    width: 571px;
    margin-left: 97px;
    margin-right: 83px;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.fifth_facts{
    margin-bottom: 193px;
    margin-left: 180px;
}

.fifth_wrapper_facts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fifth_fact{
    text-align: center;
    margin-bottom: 70px;
    padding-right: 161px;
}

.fifth_h2_fact{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 60px;
    color: #00B40A;
}

.fifth_facts .fact_description{
    width: 259px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #484848;
}

.fact_description span{
    font-weight: 700;
}

.sixth_divaider_grey{
    width: 684px;
    height: 5px;
    margin-left: 192px;
    background:#484848;
    margin-bottom: 41px;
}

.sixth_button_video{
    display: block;
    width: 618px;
    height: 367px;
    background: url("../img/second_page/6_img.jpg");
    margin: 0 auto;
    margin-bottom: 41px;
}

.sixth_divaider_green{
    width: 684px;
    height: 5px;
    margin-left: 497px;
    background: #00B40A;
    margin-bottom: 137px;
}

.sixth_button_start_free{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.sixth_video{
    margin-bottom: 144px;
}

.seventh_review{
    background: #484848;
    padding-bottom: 100px;
}

.seventh_review .seventh_h2{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 103px;
}

.seventh_review_element{
    display: flex;
    justify-content: space-between;
    padding-right: 122px;
    margin-left: 256px;
    margin-bottom: 52px;
}

.seventh_review_description{
    display: inline-block;
    width: 610px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.seventh_review_img{
    display: inline-block;
    width: 103px;
    height: 102px;
}

.seventh_fat{
    font-weight: 700;
}

.eighth_process{
    margin-top: 169px;
    margin-bottom: 209px;
}

.eighth_h2{
    text-align: center;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    color: #484848;
}

.eighth_devaider{
    margin: 0 auto;
    width: 290px;
    height: 5px;
    background: #00B40A;
    margin-bottom: 52px;
}

.eighth_list{
    margin-left: 359px;
}

.eighth_list li{
    padding-bottom: 46px;
    width: 600px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.eighth_button{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
    margin-top: 70px;
}

.ninth_about_cources{
    margin-bottom: 40px;
}

.ninth_h2{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 64px;
    color: #484848;
    margin-left: 82px;
}

.ninth_devaider{
    margin-left: 82px;
    width: 260px;
    height: 5px;
    background:#00B40A;
    margin-bottom: 184px;
}

.ninth_wrapper_cources{
    display: flex;
    justify-content: space-between;
    margin-left: 182px;
    padding-right: 150px;
}

.ninth_about_cource{
    width: 241px;
    text-align: center;
}

.ninth_name_cource{
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 32px;
    color: #484848;
}

.ninth_cost{
    font-weight: 700;
    font-size: 32px;
    color: #484848;
    margin-top: 40px;
    margin-bottom: 168px;
}

.ninth_button{
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 0;
    width: 150px;
    height: 35px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.tenth_description_logo{
    text-align: right;
    margin-right: 103px;
}

.tenth_description_h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    color: #484848;
    margin-left: 109px;
    margin-bottom: 50px;
}

.tenth_description_h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #484848;
    margin-left: 109px;
    margin-bottom: 51px;
}

.tenth_description_text{
    margin-left: 109px;
    margin-right: 106px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #484848;
}

.tenth_description a{
    display: block;
    width: 50px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    margin-top: 18px;
    text-decoration-line: underline;
    color: #484848;
    margin-bottom: 71px;
}

footer{
    background-color: #484848;
    height: 293px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.footer_wrapper{
    height: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 113px;
    margin-right: 85px;
}

footer .footer_menu_links{
    list-style-type: none;
}

.footer_social_links_icons{
    margin-top: 35px;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}