* {
    font-family: 'Istok Web', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    height: 94px;
}

a:hover {
    color: #2d4a1a;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    margin-left: 31px;  
}

.header_link{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 12px;
    font-size: 12px;
    color: #484848;
    text-decoration: none;
}

.header_menu_navigation li{
    display: inline-block;
    padding-right: 40px;
    margin-top: 27px;
}

.header_menu_navigation .header_menu_navigation_link{
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    text-decoration: none;
}

.header_button_start_free{
    width: 150px;
    height: 35px;
    margin-right:30px;
    padding: 0px;
    border: 0px;
    background: #00B40A;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #F5F5F5;
}

.header_path{
    color: #484848;
    margin-left: 31px;
}

section{
    margin-bottom: 104px;
}

h2{
    padding-top: 155px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    text-align: center;
    color: #484848;
}

.devaider{
    margin: 0 auto;
    margin-bottom: 59px;
    width: 490px;
    height: 5px;
    background:#00B40A;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.text{
    width: 397px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #484848;
}

footer{
    background-color: #484848;
    height: 293px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.footer_wrapper{
    height: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 113px;
    margin-right: 85px;
}

footer .footer_menu_links{
    list-style-type: none;
}

.footer_social_links_icons{
    margin-top: 35px;
}

footer a{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}